﻿@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.TitleMessage.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This task will take a sentence, or a series of words, and reverse the order of the words using Javascript.
            </p>
        </div>
    </section>
}

<h3>Task 2</h3>
<p>Task 2 will take a sentence, or a series of words, as input and then reverse the order of the words.</p>
<p>For example, if we input "Welcome to IS445: Web Application development", the line of text would be changed to "development Application Web IS445: to Welcome"</p>
<p>@Html.ActionLink("Begin Task 2", "Task2Format", "Task")</p>