﻿@model IS445HW6JLR.Models.PhoneNumberModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.TitleMessage.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This task will format a 10 digit phone number into a standard format: <mark>(xxx) xxx-xxxx</mark> using C#.
            </p>
        </div>
    </section>
}

<h3>Here's your formatted phone number!</h3>

<fieldset>
    <legend>PhoneNumberModel</legend>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Start Over", "Task1Format") |
    @Html.ActionLink("Back to Task1 Intro", "Task1") |
    @Html.ActionLink("Home", "Index", "Home")
</p>
