﻿@model IS445HW6JLR.Models.PhoneNumberModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.TitleMessage.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This task will format a 10 digit phone number into a standard format: <mark>(xxx) xxx-xxxx</mark> using C#.
            </p>
        </div>
    </section>
}

@using (Html.BeginForm("Task1Format", "Task"))
{
    <h4>To begin, enter a 10 digit phone number in an format:</h4>
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Task 1 - Format Phone Number</legend>
        <div class="editor-label">
            @Html.LabelFor(pnModel => pnModel.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(pnModel => pnModel.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <h4>Now, click the "Format" button to format the number into a standard format.</h4>
        <p>
            <input type="submit" value="Format" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Task1 Intro", "Task1")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
