﻿@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.TitleMessage.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This task will format a 10 digit phone number into a standard format: <mark>(xxx) xxx-xxxx</mark> using C#.
            </p>
        </div>
    </section>
}

<h3>Task 1</h3>
<p>Task 1 will take a 10 digit telephone number as input and then format the telephone number into a standard format.</p>
<p>For example, if we input 5629851111, the number would be formatted as (562) 985-1111</p>
<p>@Html.ActionLink("Begin Task 1", "Task1Format", "Task")</p>