﻿@section headerItems {
    @Styles.Render("~/Content/themes/base/jqueryuiall")
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.TitleMessage.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This task will take a sentence, or a series of words, and reverse the order of the words using Javascript.
            </p>
        </div>
    </section>
}

<div class="taskContent">
    <form id="task2Form" name="task2Form" action="#" method="get">
        <div class="taskPrompt">
            <h4>To begin, enter a sentence or a series of words:</h4>
            <div class="editor-field">
                <input id="textInput" class="required" type="text" placeholder="Place text here" name="TextInput" />
            </div>
            <h4>Now, click the "Reverse" button to reverse the words.</h4>
            <input id="reverseBtn" type="submit" value="Reverse" />
        </div>
    </form>
    <div class="taskResult">
        <h3>The words have been reversed!</h3>
        <div class="display-field">
            <span id="result"></span>
        </div>
    </div>
</div>

<div class="taskPrompt">
    @Html.ActionLink("Back to Task2 Intro", "Task2")
</div>

<div class="taskResult">
    @Html.ActionLink("Start Over", "Task2Format") |
    @Html.ActionLink("Back to Task2 Intro", "Task2") |
    @Html.ActionLink("Home", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryvalidate")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function () {
            var reverseText = function (inputString) {
                var wordArr = inputString.split(" ");
                var outputString = "";

                for (var i = wordArr.length - 1; i >= 0; i--) {
                    outputString += wordArr[i] + " ";
                }

                outputString = $.trim(outputString);

                return outputString;
            };

            $("#task2Form").validate({
                submitHandler: function (form) {
                    $(".taskPrompt").effect("puff", 800, function () {
                        $("#result").html(
                            "<mark>" + reverseText($("#textInput").val()) + "</mark>"
                        );
                        $(".taskResult").show(500);
                    });
                },
                messages: {
                    TextInput: "Please enter a series of words"
                }
            });
        });
    </script>
}
