﻿@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.TitleMessage.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This homework will focus on manipulating a <mark>phone number</mark> and a <mark>sentence</mark> within
                the context of an ASP.NET MVC4 site.  Click a link for one of the tasks to get started!
            </p>
        </div>
    </section>
}
<h3>Homework 6 accomplishes the following tasks:</h3>
<ol class="round">
    <li class="one">
        <h5>Task 1</h5>
        <p>Task 1 is a page that takes a 10 digit telephone number as input and then formats the telephone number into a standard format.</p>
        <p>For example, if we input 5629851111, the number would be formatted as (562) 985-1111</p>
        <p>@Html.ActionLink("Go to Task 1", "Task1", "Task")</p>
    </li>

    <li class="two">
        <h5>Task 2</h5>
        <p>Task 2 is a page that takes a line of text as input and then reverses the text.</p>
        <p>For example, if we input "Welcome to IS445: Web Application development", the line of text would be changed to "development Application Web IS445: to Welcome"</p>
        <p>@Html.ActionLink("Go to Task 2", "Task2", "Task")</p>
    </li>
</ol>
